### Emacs ###
*~
.\#*
.elc
.lock
\#*\#
auto-save-list
tramp

# Org-mode
*_archive
.org-id-locations


# Repositories
.cvsignore
.DS_Store
.places
.svn
CVS


# Directories
backups
el-get
elpa
emms
eshell
logs
var


# Files
autoloads.el
compile.log
custom.el
savehist
session.*


